/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery-image {
  display: block;
  max-width: 100%;
  object-fit: fill;
  width: 360px;
  height: 200px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(1.05);
}

.gallery {
  width: 1440px;
  height: 648px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 24px;

}

label {
  display: flex;
  flex-direction: column;
}

input {
  width: 360px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

textarea {
  width: 360px;
  height: 80px;
  margin-top: 8px;
  margin-bottom: 16px;
}

button {
  max-width: 95px;
  max-height: 40px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1,5; 
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  background: #4E75FF;
}